:host {
  display: block;
  .margin {
    margin: 25px;
  }
  .semi-donut {
    --percentage: 0;
    --fill: #007dab;
    width: 350px;
    height: 150px;
    position: relative;
    color: #f5f5f5;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    &:after {
      content: '';
      width: 300px;
      height: 300px;
      border: 50px solid;
      border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
      position: absolute;
      border-radius: 50%;
      left: 20px;
      top: 0;
      box-sizing: border-box;
      transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
      animation: fillAnimation 1s ease-in;
    }
  }
}
